extends layout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title Vehicle Info
    .panel-body
      form(role='form')
      .form-group
        input(type='text', placeholder='Year', value='', id='year')
      .form-group
        input(type='text', placeholder='Make', value='', id='make')
      .form-group
        input(type='text', placeholder='Model', value='', id='model')
      .form-group
        button(type='button', role='button', class='btn btn-primary btn-md', id='add') Add
  script(type='text/javascript', src='/js/vehicle.js')