extends layout

block content
  #content
    script(type='text/javascript', src='/js/vehicle.js')
    script(type='text/javascript', src='/js/stats.js')
    .alert-info.alert.hidden#alert
       p You're getting <span id="mpg"></span>
       p View other users MPG <a href='' id="vehicleID"><span class='glyphicon glyphicon-info-sign'></span></a>
    .panel.panel-default.pull-left
      .panel-heading
        h3.panel-title Vechicle Info
      .panel-body
        form.form-inline(role='form')
          .form-group
            select(class='form-control', id='make')
              option Make
          .form-group
            select(class='form-control', id='model')
              option Model
          .form-group
            select(class='form-control', id='year')
              option Year
          p.text-info
          a(href='/vehicles/vehicle/add/', class='text-info small') Don't see your vehicle?
    .panel.panel-default.pull-right
      .panel-heading
        h3.panel-title Vehicle Stats
      .panel-body
        form.form-inline(role='form')
          .form-group
            input(type='text', class='form-control', placeholder='Starting Milage', id='start_mile')
          .form-group
            input(type='text', class='form-control', placeholder='Ending Mileage', id='end_mile')
          br
          .form-group
            input(type='text', class='form-control', placeholder='Starting Fuel', id='start_fuel',)
          .form-group
            input(type='text', class='form-control', placeholder='Ending Fuel', id='end_fuel')
          br
          button(type='button', role='button', class='btn btn-lg btn-primary', id='calc') Calculate