extends layout

block content
	script(type='text/javascript', src='/js/vehicle.js')
	.panel.panel-default#vehicles
		.panel-heading
			h1.lead Vehicles in Database
		.panel-body
			table.table
				thead
					th #
					th Make
					th Model
					th Years
					th Action
				tbody