extends layout

block content
	script(type='text/javascript', src='/js/vehicle.js')
	.row
		col-xs-12.col-md-12.col-lg-6
			.panel.panel-default#vehicles
				.panel-heading
					h2.panel-title Vehicles in Database
				.panel-body
					table.table
						thead
							th #
							th Make
							th Model
							th Year
							th Action
						tbody