extends layout

block content
	script(type='text/javascript', src='/js/stats.js');
	script(type='text/javascript', src='/js/vehicle.js')
	script(type='text/javascript', src='/js/raphael.js')
	.container
		.page-header(id='#{id}')
		.panel.panel-default
			.panel-heading
				h4 MPG data
			.panel-body
				#chart
					script(type='text/javascript', src='/js/chart.js')

