extends layout

block content
	script(type='text/javascript', src='/js/stats.js')
	.row
		.col-xs-12.col-md-12.col-lg-6
			.panel.panel-default#stats
				.panel-heading
					h3.panel-title Stats
				.panel-body
					table.table
						thead
							th #
							th Year
							th Make
							th Model
							th MPG
							th Action
						tbody